body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    line-height: 1.3;
}

img {
    width: 100%;
}

/* TYPOGRAPHY */

h1, h2 {
    font-family: 'EB Garamond', serif;
}
h3, h4{
    font-family: 'Prata', serif;
}

a { 
    font-family: 'Inconsolata', monospace;
}

.nav-link {
    text-decoration: none;
    color: #d7d8c8;
    font-size: .8rem;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
} 
.nav-link:focus,
.nav-link:hover {
    color: #242320;
    border-bottom: 1px solid;
}
.focus-btn {
    background-color:#fae3607f; 
    color: #242320;
}
.current-page {
    color: #FAE360;
}
.hero-title,
.hero-subtitle{
    color: #F0F1DF;
}
.hero-title {
    display: none;
}
.hero-subtitle {
    font-size: 1rem;
    margin-left: auto;
    margin-top: 0;
    width: 80%;
}
.hero-text {
    color: #f0f1dfbf;
    font-size: .5rem;
    width: 80%;
    margin-left: auto;
}
.btn-link {
    text-decoration: none;
    font-weight: 700;
    color: #393939;
    font-size: .5rem;
}
.sec-title {
    font-size: 3rem;
    margin: 0 0 .7em;
    color:  #F86447;
    font-family: 'Prata', serif;
    font-weight: 400;
}
.about-me-title, 
.me-intro {
    color: #F0F1DF;
    margin: 0;
}
.project-type {
    font-size: 1.25rem;
    font-weight: 200;
    background-color: #F86447;
    color: #F0F1DF;
 }
.project-title {
    font-size: 1rem;
    color: #CC523A;
    font-weight: 200;
    margin-bottom: .5em;
}

.project-info {
    color: #913B2A;
    font-size: .75rem;
}
.project-link {
    text-decoration: none;
    color: #F86447;
    font-weight: 700;
    letter-spacing: .2em;
    font-size: .5rem;
}
.project-link:hover,
.project-link:focus {
    padding-bottom:.2em;
    border-bottom: 2px solid  #F86447;
}
.me-intro,
.contact-text{
    font-size: .75rem;
}
@media (min-width: 250px) {
    .hero-title {
        display:block;
        font-size: 5rem;
        margin: 0;
        line-height: 1;
    }
    .sec-title {
        font-size: 3rem;
    }
    .project-type{
        font-size: 1.5rem;
    }
    .project-title {
        font-size: 1.25rem;
    }
    .project-info {
        font-size: .75rem;
    }
    .project-link {
        font-size: .5rem;
    }
}
@media (min-width: 300px) {
    .hero-title {
        font-size: 6rem;
    }
    .hero-subtitle {
        font-size: 1.25rem;
        width: 70%;
    }
    .hero-text {
        width: 60%;
        font-size: .6rem;
    }
    .nav-link {
        font-size: 1rem;
    }
    .btn-link {
        font-size: .8rem
    }
    .sec-title {
        font-size: 4rem;
    }
}
@media (min-width: 400px) {
    .hero-title {
        font-size: 8rem;
    }
    .hero-subtitle {
        font-size: 1.5rem;
        width: 70%;
    }
  
}
}
@media (min-width: 600px) {
    .hero-title {
        font-size: 9rem;
    }
    .hero-subtitle {
        font-size: 1.5rem;
        width: 70%;
    }
    .hero-text {
        width: 60%;
        font-size: .9rem;
    }
    .nav-link {
        font-size: 1.2rem;
    }
    .btn-link {
        font-size: 1rem
    }
    .sec-title {
        font-size: 5rem;
    }
    .project-type{
        font-size: 2rem;
    }
    .project-title {
        font-size: 1.75rem;
    }
    .project-info{
        font-size: 1rem;
    }
    .project-link {
        font-size: .75rem;
    }
    .me-intro,
    .contact-text{
    font-size: .9rem;
    }
}
/* -------------------- */
/* MAIN LAYTOUT */
/* -------------------- */
main section {
    padding: 3em 0;
}
.main-grid {
    display: grid; 
    grid-template-columns: minmax(2em, 1fr) minmax(100px, 500px) minmax(2em, 1fr);
}
@media (min-width: 1000px) {
    .grid-big-screen{
        display: grid; 
        grid-template-columns: minmax(4em, 1fr) minmax(600px, 960px) minmax(4em, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-big-screen{
        grid-template-columns: minmax(1em, 1fr) minmax(800px, 1000px) minmax(1em, 1fr);
    }
}
.main-grid>* {
    grid-column: 2/-2;
}
.bright-bg{
    background-color: #F86447;
}

.hero-section>* {
    height: 100%;
}
/*********DOTS********** */
.dot {
    display: inline-block;
    background-color:#FAE360;
    border-radius: 50%;
    width: .53em;
    height: .53em;
}
.dot-hero {
    width: .45em;
    height: .45em;
}
/*********BUTTONS********** */
.cta-btn {
    background-color:#FAE360;
    border: none;
    padding: 1em 2em;
    width:10em;
    line-height: 0;
    margin-top: 2em;
    cursor: pointer;
}
.cta-btn:hover,
.cta-btn:focus {
    background-color:#f0f1df;
    color: #F86447;
}
.work-btn {
    margin-left: auto;
    width: 10em;
}
@media(min-width: 300px) {
    .work-btn {
        width: 12em;
    }
}
@media(min-width: 600px) {
    .work-btn {
        width: 16em;
    }
}
/* -------------------- */
/* NAVIGATION */
/* -------------------- */
nav {
    z-index: 10;
}
.nav-home {
    position: fixed;
}
.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* background-color: chartreuse; */

    /* justify-content:space-around; */
}
.nav-item {
    padding: 0;
    margin: 3em -1.5em;
    transform: rotate(-90deg);
    /* background-color: cadetblue; */
}
.nav-link {
    text-align: center;
    padding: .2em .5em;
}


/* -------------------- */
/* HERO SECTION */
/* -------------------- */
.left-column {
    padding: 7em 0;
    text-align: right;
}

.right-column {
    display: none;
}

@media (min-width: 1000px) {

    .two-columns {
        grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(100px,500px)) minmax(1em, 1fr);
    }
    .left-column {
        grid-column: 2/span 1;
        padding-right: 25px;
    }
    .right-column{
        display: initial;
        background-color:#FAE360;
        grid-column: 3/span1;
        height: 100%;
    }
    .hero-image {
        margin-top: 8.7em;
        margin-left: 27px;
        width: 20.5em;
        height: 20.5em;
        object-fit: cover;
    }
}


/* -------------------- */
/* WORK SECTION */
/* -------------------- */
.project-photo {
    position: relative;
}
.project-type {
    position: absolute;
    top: -1.5em;
    z-index: 2;
}
.project-photo:after {
    content:"";
    display: block;
    padding-bottom: 100%;
}
.project-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
}


.project{
    margin-bottom: 4em;
}

@media (min-width: 1000px) {  
    .project {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-areas: 
        'left right';
    }
    .project-photo {
        grid-area: left;
    }
    .project-caption {
        grid-area: right;
        padding-left: 27px;
    }
    .project-photo-reversed{
        grid-area: right;
    }
    .project-caption-reversed {
        grid-area: left;
        text-align: right;
        padding: 0 27px 0;
    }
}


/* -------------------- */
/* ABOUT ME SECTION */
/* -------------------- */

.about-me-grid {
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-areas:
    'title title'
    'photo text';
    /* border: 1px solid; */
}
.about-me-title {
    margin: 0;
    grid-area: title;
    padding-bottom: .25em;
}
.me-intro {
    grid-area: text;
    line-height: 1.6;
    padding-left: 27px;
}
.about-me-page-title {
    grid-area: title;
    margin: 0;
}
.me-page-intro {
    grid-area: text;
    padding-left: 27px;

}

.me-img {
    grid-area: photo;
    background-image: url(../img/myPhoto.jpg);
    background-position: center;
    background-size: cover;
    height: 32em;
}



@media (min-width: 1000px) {
    .about-me-grid {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-areas:
        'photo title'
        'photo text';
    }
    .about-me-title, 
    .about-me-page-title {
        padding-left: 27px;
    }
}

/* -------------------- */
/* CONTACT SECTION */
/* -------------------- */
.contact-title{
    margin-bottom: 0.2em;
}
.left-contact-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form {
    margin-top: 3em;
}
textarea {
    resize: none;
    outline: none;
    border: 1px solid #F1E391;
    margin: 2em 0 2em;
    border-radius: 5px;
    width: 100%;
    padding: 1em;
}
label {
    color: #F86447;
}
input {
    font-family: 'Inconsolata', monospace;
    outline: none;
    display: block;
    padding: .5em 1em;
    width: 100%;
    border: none;
    border-bottom: 1px #F1E391 solid;
}
.right-contact-column {
    display: none;
}

@media (min-width: 1000px) {

    .two-contact-columns {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px,500px));
    }
    .right-contact-column {
        display: initial;
        padding-left: 2em;
    }

    .contact-img {
        position: relative;
        object-fit: cover;
    }
    .contact-img-one{
        width: 350px;
        height: 350px;
        margin-top: 1.5em;
    }
    .contact-img-two{
        width: 200px;
        height: 200px;
        left : 13em;
        bottom: 7em;
    }
    textarea,
    input, .contact-text {
        width: 80%;
    }
}
@media (min-width: 1300px) {
    .contact-img-one{
        width: 400px;
        height: 400px;
        margin-top:5em;
    }
    .contact-img-two{
        width: 300px;
        height: 300px;
        left : 10em;
    }
}

/* -------------------- */
/* FOOTER */
/* -------------------- */
footer {
    margin-top: 40px;
    color: #e5e5e5dd;
    text-align: center;
    padding: 2em 0;
    font-size: .7rem;
}

.footer-flex {
    display: flex;
    flex-direction: column;
}

footer h5 {
    font-size: 1rem;
    margin-bottom: .25em;
}
.connect-list ,
.contact-add {
    list-style-type: none;
    padding: 0;
}
.connect-link {
    text-decoration: none;
    color: #e5e5e5dd;
}
.connect-link:hover,
.connect-link:focus {
    color:#FAE360;
    font-weight: bold;
}
.copyright {
    order: 1;
}
.copyright p{
    font-size: .5rem;
    margin-top: 1.5em;
}
.quote {
    order: -1;
    margin: 0 auto;
    width: 30vw;
}

.quote-text {
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Prata', serif;
    letter-spacing: .1em;
    margin: 0 auto;
    z-index: 3;
    color: #e5e5e5;
}
/* .quote-text::before {
    content:"";
    position:absolute;
    background-color:#FAE360;
    opacity: .8;
    border-radius: 50%;
    width: 9em;
    height: 9em;
    bottom: -1em;
    left: 6em;
    z-index: -1;
} */
.quote-author{
    position: relative;
    z-index: 2;
}
.quote-dot {
    width: 5em;
    height: 5em;
    background-color:#FAE360;
    border-radius: 50%;
    margin: 2em auto;
}

@media (min-width:700px) {

    .footer-flex {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .footer-flex>* {
        margin: 0 2em 0 0;
        text-align: left;
    }

    .quote {
        order: 4;
        margin-right: 0;
        text-align: center;
    }
    /* .quote-text::before {
        width: 8em;
        height: 8em;
        bottom: -4em;
        left: 2em;
    } */
    .copyright{
        order: 0;
        width: 15em;
    }
}
@media (min-width: 1000px) {
    .quote {
        text-align: center;
    }
    /* .quote-text::before {
        top: 2em;
        left: 12em; */
    }
}



/* -------------------- */
/* INDIVIDUAL PAGES     */
/* -------------------- */














/* For the width display, ignore this */

.width-container {
    display: none;
}

.display-width {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #E6E6E6;
    padding: .3em;
    font-size: .85em;
}